<!--<suite name="MyTestSuite">-->
<!--    <test name="AdminTests">-->
<!--        <classes>-->
<!--            <class name="com.second_life.testsRA.AdminLoginTest"/>-->
<!--            <class name="com.second_life.testsRA.AdminLogoutTest"/>-->
<!--        </classes>-->
<!--    </test>-->
<!--</suite>-->
